.charts{
    display: flex;
    flex-direction: row;
}
.left-info {
    width: 50%;
}
.right-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 0;
}
.info {
    height: auto;
}
#attendance-rate, #groups-average-grade, #grade-ratio, #subjects-quality-performance {
    background-color: var(--main-color);
}
#attendance-rate {
    flex-grow: 1;
}
#groups-average-grade {
    margin-top: 5px;
    height: 500px;
}
#grade-ratio {
    margin-top: 5px;
    height: 300px;
}
#subjects-quality-performance {
    flex-grow: 1;
}
#subjects-quality-performance .tick text {
    font-size: 12px;
}
