.charts{
    display: flex;
    flex-direction: row;
}
.left-info {
    width: 50%;
}
.right-info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-bottom: 0;
}
.info {
    height: auto;
}
#attendance-rate {
    flex-grow: 1;
    background-color: white;
}
#groups-average-grade {
    margin-top: 5px;
    background-color: white;
    height: 500px;
}
#grade-ratio {
    margin-top: 5px;
    background-color: white;
    height: 300px;
}
#subjects-quality-performance {
    background-color: white;
    flex-grow: 1;
}
