.top-left-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.group-grade-ratio {
    background-color: white;
}
#absolute-performance, #subjects-grade-ratio, #attendance-rate {
    border: solid 1px var(--accent-color);
}
#absolute-performance {
    height: 500px;
    flex-grow: 1;
}
#subjects-grade-ratio {
    height: 250px;
    width: 750px;
}
#attendance-rate {
    flex-grow: 1;
}
#subjects-grade-ratio .tick text {
    font-size: 10px;
}