body {
    --main-color: #000;
    --accent-color: #79d200;
    /*--main-color: #001e01;*/
    /*--accent-color: #f2a96d;*/
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--main-color);
}
header {
    display: flex;
    align-items: center;
}
.top-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--accent-color);
}
.header-button {
    background-color: var(--main-color);
    color: var(--accent-color);
    padding: 5px 10px;
}
.header-button2 {
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 5px 10px;
    border: solid 1px var(--accent-color);
}
main {
    width: 1000px;
    min-height: 300px;
    margin: 75px auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.menu {
    background-color: var(--accent-color);
    padding: 5px;
}
.charts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    padding: 5px;
    border: solid 1px var(--accent-color);
    min-height: 300px;
}
p{
    margin: 0;
    color: var(--accent-color);
}
.top-info, .bottom-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.group-info, #subject-grade-ratio {
    width: 400px;
    background-color: var(--accent-color);
}
#groups-grade-ratio, #average-grade {
    height: 300px;
    width: 600px;
    background-color: var(--main-color);
    border: solid 1px var(--accent-color);
}
.group-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-size: 15px;
}
.group-info p {
    color: var(--accent-color);
    background-color: var(--main-color);
    padding: 5px;
}
.label {
    margin-right: auto;
}
.subject-name {
    text-transform: uppercase;
}
.info-container {
    display: flex;
    gap: 5px;
}
.info-container .value {
    background-color: var(--accent-color);
    color: var(--main-color);
}
.small-text {
    font-size: 12px;
}
.black {
    flex-grow: 1;
    background-color: var(--main-color);
    border: solid 3px var(--main-color);
}
select{
    color: var(--accent-color);
    background-color: var(--main-color);
    height: 30px;
    font-family: 'JetBrains Mono', monospace;

}